.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: calc(100 * var(--vh, 1vh));
  padding: 110px;

  background-color: $color-default-white;
  opacity: 1;

  transition: opacity $default-transition-settings;

  svg {
    width: 100%;

    transform: translateX(-100vw);
    opacity: 0;

    transition: transform $default-transition-settings;
  }

  p {
    align-self: flex-end;
    margin: 0;

    font-size: 24px;
    line-height: 22px;
  }

  p:first-of-type {
    @include viewport--md {
      display: none;
    }
  }

  p:last-of-type {
    display: none;

    @include viewport--md {
      display: unset;
    }
  }

  &:not(.js-preloader) {
    display: none;
  }

  &.is-loading {
    svg {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &.is-hidden {
    opacity: 0;

    svg {
      transform: translateX(-100vw);
    }
  }
}
